mixin banner(img, title, description, clase, boton, autor)
  div(class='main-banner--' + clase + ' main-banner')
    .rex-container.full
      .rex-item.l-100.to-center
        img(src=img).main-banner__img
        .main-banner__data
          h1= title.toUpperCase()
          //- if (description !== '')
          //-   p.subtitle= description
          //- if (boton)
          //-   a(href="#").button--second.small.center Modelo de botón
          if (autor)
            .main-banner__author
              a(href="#")
                img(src="https://ed.team/sites/default/files/styles/thumbnail/public/pictures/2017-11/alexys_0.jpg?itok=MMRiEdrl").main-banner__author-img
              a(href="#")
                .main-banner__author-name Alexys Lozada
