extends layouts/template
include mixins/main-banner
append config
  -currentPage = 'Balanzas y selladoras'
block banner
  //- include components/slider
  +banner(`${path_media}images/slider/slide01.jpg`,  currentPage, '', '', true, false)
block main
  .rex-item
    h1.title.center= `${currentPage}`