extends layouts/template
append config
  -currentPage = 'Comida rápida'
block banner
  //- include components/slider
  +banner(`${path_media}images/slider/slide02.jpg`,  currentPage, '', '', true, false)
block main
  .rex-item
    h1.title.center= `${currentPage}`