extends layouts/template
append config
  -currentPage = 'Frial y fabrica de embutidos'
  -
    gallery = [
      {
        title: 'Cortadora de fiambres',
        descripcion: `
        
        `,
        full: '',
        thumb: 'frial01.jpg'
      },
      {
        title: 'Cortadora de Hueso',
        descripcion: `
        
        `,
        full: '',
        thumb: 'frial02.jpg'
      },
      {
        title: 'Embutidora de Chorizo',
        descripcion: `
        
        `,
        full: '',
        thumb: 'frial03.jpg'
      },
      {
        title: 'Moledora de Carne B12-B22-B32',
        descripcion: `
        
        `,
        full: '',
        thumb: 'frial04.jpg'
      }
    ]
block banner
  //- include components/slider
  +banner(`${path_media}images/slider/slide03.jpg`,  currentPage, '', '', true, false)
block main
  .rex-item
    h1.title.center= `${currentPage}`
  - for(let i=0;i<gallery.length;i++)
    -let g = gallery[i]
    .rex-item.l-25.m-50.s-50.l-block
      .card
        .card__img
          img.to-center(src=`${path_media}images/${g.thumb}`)
        .card__content
          .w2.card__title= `${g.title}`
          //- .card__subtitle
          //-   p Subtitulo de la tarjeta
          //- .card__body
          //-   p Este el contenido de la tarjeta en caso lo requiera. Algunas tarjetas no requieren contenido pero otras sí.
          footer.card__footer.to-center
            .card__button
              a(href="#").button--ghost--tertiary.button--small Ver detalles
  //- .rex-item.l-25.m-50.s-50.l-block
  //-   .card
  //-     .card__img
  //-       img(src="https://ed.team/sites/default/files/styles/16_9_large/public/2017-10/npm_0.jpg")
  //-     .card__content
  //-       .card__title Título de la tarjeta
  //-       .card__subtitle
  //-         p Subtitulo de la tarjeta
  //-       .card__body
  //-         p Este el contenido de la tarjeta en caso lo requiera. Algunas tarjetas no requieren contenido pero otras sí.
  //-       footer.card__footer.to-center
  //-         .card__button
  //-           a(href="#").button--ghost--tertiary.button--small Detalles
  //- .rex-item.l-25.m-50.s-50.l-block
  //-   .card
  //-     .card__img
  //-       img(src="https://ed.team/sites/default/files/styles/16_9_large/public/2017-10/npm_0.jpg")
  //-     .card__content
  //-       .card__title Título de la tarjeta
  //-       .card__subtitle
  //-         p Subtitulo de la tarjeta
  //-       .card__body
  //-         p Este el contenido de la tarjeta en caso lo requiera. Algunas tarjetas no requieren contenido pero otras sí.
  //-       footer.card__footer.to-center
  //-         .card__button
  //-           a(href="#").button--ghost--tertiary.button--small Detalles
  //- .rex-item.l-25.m-50.s-50.l-block
  //-   .card
  //-     .card__img
  //-       img(src="https://ed.team/sites/default/files/styles/16_9_large/public/2017-10/npm_0.jpg")
  //-     .card__content
  //-       .card__title Título de la tarjeta
  //-       .card__subtitle
  //-         p Subtitulo de la tarjeta
  //-       .card__body
  //-         p Este el contenido de la tarjeta en caso lo requiera. Algunas tarjetas no requieren contenido pero otras sí.
  //-       footer.card__footer.to-center
  //-         .card__button
  //-           a(href="#").button--ghost--tertiary.button--small Detalles
  //- .rex-item.l-25.m-50.s-50.l-block
  //-   .card
  //-     .card__img
  //-       img(src="https://ed.team/sites/default/files/styles/16_9_large/public/2017-10/npm_0.jpg")
  //-     .card__content
  //-       .card__title Título de la tarjeta
  //-       .card__subtitle
  //-         p Subtitulo de la tarjeta
  //-       .card__body
  //-         p Este el contenido de la tarjeta en caso lo requiera. Algunas tarjetas no requieren contenido pero otras sí.
  //-       footer.card__footer.to-center
  //-         .card__button
  //-           a(href="#").button--ghost--tertiary.button--small Detalles
  //- .rex-item.l-25.m-50.s-50.l-block
  //-   .card
  //-     .card__img
  //-       img(src="https://ed.team/sites/default/files/styles/16_9_large/public/2017-10/npm_0.jpg")
  //-     .card__content
  //-       .card__title Título de la tarjeta
  //-       .card__subtitle
  //-         p Subtitulo de la tarjeta
  //-       .card__body
  //-         p Este el contenido de la tarjeta en caso lo requiera. Algunas tarjetas no requieren contenido pero otras sí.
  //-       footer.card__footer.to-center
  //-         .card__button
  //-           a(href="#").button--ghost--tertiary.button--small Detalles
  //- .rex-item.l-25.m-50.s-50.l-block
  //-   .card
  //-     .card__img
  //-       img(src="https://ed.team/sites/default/files/styles/16_9_large/public/2017-10/npm_0.jpg")
  //-     .card__content
  //-       .card__title Título de la tarjeta
  //-       .card__subtitle
  //-         p Subtitulo de la tarjeta
  //-       .card__body
  //-         p Este el contenido de la tarjeta en caso lo requiera. Algunas tarjetas no requieren contenido pero otras sí.
  //-       footer.card__footer.to-center
  //-         .card__button
  //-           a(href="#").button--ghost--tertiary.button--small Detalles
  //- .rex-item.l-25.m-50.s-50.l-block
  //-   .card
  //-     .card__img
  //-       img(src="https://ed.team/sites/default/files/styles/16_9_large/public/2017-10/npm_0.jpg")
  //-     .card__content
  //-       .card__title Título de la tarjeta
  //-       .card__subtitle
  //-         p Subtitulo de la tarjeta
  //-       .card__body
  //-         p Este el contenido de la tarjeta en caso lo requiera. Algunas tarjetas no requieren contenido pero otras sí.
  //-       footer.card__footer.to-center
  //-         .card__button
  //-           a(href="#").button--ghost--tertiary.button--small Detalles