extends layouts/template
append config
  -currentPage = 'Heladerias'
block banner
  //- include components/slider
  +banner(`${path_media}images/slider/slide04.jpg`,  currentPage, '', '', true, false)
block main
  .rex-item
    h1.title.center= `${currentPage}`