extends layouts/template
append config
  -currentPage = 'Inicio'
block banner
  include components/slider

  //- include components/flux-slider.html
block main
  -
    let marcas = [
      {
        src: 'gavetal.png',
        title: ''
      },
      {
        src: 'lipari.png',
        title: ''
      },
      {
        src: 'marchesoni.png',
        title: ''
      },
      {
        src: 'metvisa.png',
        title: ''
      },
      {
        src: 'spm.png',
        title: ''
      },
      {
        src: 'spolu.png',
        title: ''
      },
      {
        src: 'tedesco.png',
        title: ''
      }
    ]
  //- a(href= path_page + "stylesguide").button Ver guia de estilos 
  section.rex-item.rex-container
    .rex-item
      h2.title.center= `Nuestras marcas`.toUpperCase()
    - for(let i = 0;i< marcas.length;i++)
      .rex-item.l-20.card-marca
        a(href="#")
          img(src=`${path_media}images/marcas/${marcas[i].src}`, alt="")
