.main-banner {
  background    : var(--first-color);
  color         : #FFF;
  // clip-path     : polygon(0 0, 100% 0, 100% 100%, 0 94%);
  clip-path     : polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
  position      : relative;

  // Separación del contenido
  // padding       : 3rem 0 4rem;
  // @include from(l) { padding: 11rem 0 13rem }

  &.main-banner--secondary { background : var(--second-color)  }
  &.main-banner--tertiary  { background : var(--third-color)  }
  &.main-banner--accent    { background : var(--accent-color) }
  &.main-banner--dark      { background : var(--dark-color)   }
  .full > div {
    padding: 0;
    font-size: 0;
  }
}

.main-banner__img {
  // position   : absolute;
  // top        : 0;
  // left       : 0;
  width      : 100%;
  // height     : 100%;
  // object-fit : cover;
  // opacity    : .1;
}

.main-banner__data {
  position: absolute;
  width: 100%;
  top: 0;
  text-align: center;
  background: rgba(255, 255, 255, 0.24);
  h1{
    font-size: calc(var(--title1)*1.8);
    text-shadow: 1px 1px 1px var(--text-color);
    margin-bottom: 0;
    padding: .1rem 0;
    @include from(m){
      padding: .2rem 0;
    }
    @include from(l){
      padding: .2.5rem 0;
    }
  }
}

.main-banner__author {
  color: #fff;
  margin-top : -1.5rem;

  a {
    color: inherit;
  }

  &-img {
    width : 6rem;
    height : 6rem;
    border-radius : 50%;
    border : 2px solid;
    display : block;
    margin : 0 auto;
  }

  &-name {
    font-size : var(--small);
  }
}
