.pre-footer{
  padding-top: 1rem;
  background : var(--second-color);
  color      : #FFF;
  h3{
    font-size: 1.5rem;
    color: var(--first-color);
    border-bottom: solid 1px #FFF;
  }
}
.main-footer {
  background : linear-gradient(var(--first-light-4), var(--first-color), var(--first-light-1));
  color      : #FFF;
  padding    : 1rem 0 0;
  font-size  : var(--normal);
  margin-top : auto;
  a{
    color: #FFF;
  } 
}
.cocinerita{
  background: url(../images/cocinera-yuli.png) no-repeat bottom right 2rem;
  background-size: contain;
  min-height: 12rem;
  min-width: 18rem;
}
