.main-header {
  height        : var(--header-height);
  border-bottom : 1px solid var(--border-color);
  display       : flex;
  align-items   : center;
  background    : linear-gradient(var(--second-color), var(--second-light-2));
  // position      : fixed;
  // position      : absolute;
  top           : 0;
  width         : 100%;
  left          : 0;
  z-index       : var(--z-fixed);
}
.header-links{
  margin-bottom: .8rem;
}
