.main-main{
  padding-top: .5rem;
  position: relative;
  background: #FFF;
  min-height: 20vh;
  box-shadow: 0 20px 17px 2px var(--second-color);
  &::before{
    content: '.';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background: white;
    box-shadow: 0 20px 17px 2px var(--second-color);
    z-index: -10;
  }
}