.title, [class*="title--"]{
  color: #FFF;
  background: linear-gradient(var(--first-light-2), var(--first-dark-1));
  clip-path: polygon(calc(100% - 1rem) 0, 100% 50%, calc(100% - 1rem) 100%, 1rem 100%, 0% 50%, 1rem 0);
}
.title--second   {  }
.title--tertiary {  }
.title--dark     {  }
.title--accent   {  }