- var currentPage = 'Inicio'
- let currentUrl = ''
- var siteName = 'Importadora Yuli'
- var slogan = '| Equipamiento y Maquinaria'
- var description = 'Importación de maquinaria y equipamiento para la industria alimenticia'

//-Site Version
- var siteVersion = '1.0.0'

//- Root images/svg
- var path_media = '/assets/'

//- Root pages
- var path_page = '/'

- let gallery = []