.pre-footer
	.rex-container
		.rex-item.l-25.m-50
			h3 Central Cochabamba
			p 
				| c. Tumusla # 107 entre Av. Heroínas y Colombia acera Oeste
				br
				a.button--secondary.button--small.center(href="#contactos.html") 
					| Ver mapa
					i.icon-marker
				| yuliimportacion@hotmail.com
				br
				| Telf./Fax: 4585607 - 4584025
				br
				| Cels.: 65768686 - 61782188
		.rex-item.l-25.m-50
			h3 Sucursal	La Paz
			p
				| Av. Sucre # 950 entre Yanacocha y Genaro Sanjines Torre Norita 
				br
				a.button--secondary.button--small.center(href="#contactos.html") 
					| Ver mapa
					i.icon-marker
				| yuliimportacion2012lp@hotmail.com
				br
				| Telf.: 2281482
				br
				| Cels.: 779788088 - 70306788
		.rex-item.l-25.m-50
			h3 Sucursal Santa Cruz
			p
				| Av. Mutualista entre Los Tordos y Cuquisas, Local Comercial 1
				br
				a.button--secondary.button--small.center(href="#contactos.html") 
					| Ver mapa
					i.icon-marker
				| yuliimportacion2012scz@hotmail.com
				br
				| Cels.: 77868828 - 60718588
		.rex-item.l-25.m-50
			h3 Sucursal Tarija
			p
				| Av. La Paz esq. Ciro Trigo Nº 277
				br
				a.button--secondary.button--small.center(href="#contactos.html") 
					| Ver mapa
					i.icon-marker
				| Yuliimportacion2012tj@hotmail.com
				br
				| Cels.: 61781888 - 
				| 61782188 – 77873799
footer.main-footer
	.rex-container
		.rex-item.xl-75.l-70.m-100.s-100.main-footer__item
			//- h3.main-footer__title Productos
			h3.main-footer__title= `Equipamiento y Maquinaria`.toUpperCase()
			.main-footer__content
				ul.feature-list.rex-container
					li.rex-item.l-25.m-50(v-for="item in mainmenu")
						a(v-if="item.submenu == null" :href="item.href" v-text="item.title")
						a(v-else :href="item.href" v-text="item.title + ': '")
						template(v-for="subitem in item.submenu")
							a(:href="subitem.href" v-text="' - ' + subitem.title")
			.main-footer__content.main-distribute.cross-center.from-l
				p Todos los Derechos Reservados ® 
					b #{siteName} 
					| © 
					span#currentDate
				p: a.made-in(href='', target='_blank') Diseño y Programación: Ah! Publicidad
		.rex-item.xl-75.l-75.m-60.s-65.main-footer__item.to-l
			.main-footer__content.main-distribute.cross-center
				p Todos los Derechos Reservados ® 
					b #{siteName} 
					| © 
					span#currentDate
				p: a.made-in(href='', target='_blank') Diseño y Programación: Ah! Publicidad
		.rex-item.xl-25.l-25.m-20.s-100.main-footer__item.cocinerita
			h3.main-footer__title Siguenos en:
			.main-footer__content.cross-center
				ul.social
					//- li: a.icon-whatsapp(href="https://api.whatsapp.com/send?phone=59171563681" target="_blank")
					li: a.icon-facebook(href="https://www.facebook.com/Yuli-importacion-604882012974800/" target="_blank")
					li: a.icon-youtube(href="https://youtu.be/QU69ApjQcdQ" target="_blank")
				//- p.center También puede contactarnos a:
					br 
					a(href="javascript:void(0)" target="_blank") example@gmail.com
