header.main-header
  .rex-container.full
    .rex-item.s-80.l-20.cross-center
      a(href= path_page + "")
        img(src= path_media + 'images/logo.png').main-logo
    .rex-item.s-20.l-80.cross-center.header-links
      .rex-item.s-20.l-100.main-end.cross-start.from-l
        .l-block.l-100
        a.button--ghost.small(v-for="item in menuinicio" :href="path_page + item.href")
          span(v-text="item.title")
        //- .l-block.l-100
        .l-block.l-100
      .rex-item.s-20.l-75.main-end.cross-start.to-l(style="padding-left: 0;")
        a.button--ghost.small(v-for="item in menuinicio" :href="path_page + item.href")
          span(v-text="item.title")
      nav.main-menu#main-menu.l-100
        ul
          li(v-for="item in mainmenu")
            a.l-100(:href="path_page + item.href").button
              span.w4(v-text="item.title.toUpperCase()")
      .main-menu-toggle.to-l#main-menu-toggle