include ../mixins/main-banner
//- .slider-next.button NEXT
//- .slider-prev.button PREV
.rex-container(style= "display:none;")
  .slider-prev <i class="icon-left"></i>
  .slider-next <i class="icon-right"></i>
- 
  let menu = [
    //- {
    //-   title: 'Restaurantes',
    //-   href: '#restaurantes',
    //-   src: 'slide01.jpg'
    //- },
    {
      title: 'Frial y fabrica de embutidos',
      href: '#frial-y-fabrica-de-embutidos',
      src: 'slide03.jpg'
    },
    {
      title: 'Heladerias',
      href: '#heladerias',
      src: 'slide04.jpg'
    },
    {
      title: 'Balanzas y selladoras',
      href: '#balanzas-y-selladoras',
      src: 'slide01.jpg'
    },
    //- {
    //-   title: 'INOX',
    //-   href: '#inox',
    //-   src: 'slide01.jpg'
    //- },
    {
      title: 'Comida rápida',
      href: '#comida-rapida',
      src: 'slide02.jpg'
    },
    //- {
    //-   title: 'Supermercados y micromercados',
    //-   href: '#supermercados-y-micromercados',
    //-   src: 'slide01.jpg'
    //- },
    // {
    //   title: 'Camaras frigorificas',
    //   href: '#camaras-frigorificas',
    //   src: 'slide01.jpg'
    // },
    //- {
    //-   title: 'Snack',
    //-   href: '#snack',
    //-   src: 'slide01.jpg'
    //- }
  ]
.rex-slider
  - for(i=0;i< menu.length ;i++)    
    +banner(`${path_media}images/slider/${menu[i].src}`,  menu[i].title, '', '', true, false)
